@charset "UTF-8";
html, body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background-color: black;
    color: white;
}

fieldset{
    height: 100px;
}

legend{
    font-size: 2em;
    font-weight: bolder;
    text-align: center;
}

label{
    font-size: 1.2em;
}
