@charset "UTF-8";
/*CSS da aula04*/
body{
    background-color: rgb(132, 132, 245);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 1.2em;
}

h1{
    color: rgb(255, 238, 0);
}