@charset "UTF-8";
div#area{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 1.2em;
    background-color: rgb(204, 37, 37);
    color: white;
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;
}